body{
	margin: 0;
	padding: 0;
}

.login{
	margin-left:30px;
	margin-top: 10%; 
	width: 300px;
	border: 2px solid #4fc2f7;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #e7e7e7;
}

.login_heading{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.login_body{
	margin-left: 15px;
	padding: 7px;
}
input{
    border: 1px solid #E7EAEB;
    height:25px;
	width:250px;
	box-shadow: 2px 2px 5px #e7e7e7;;
}
input:focus{
	border: 1px solid #0095ff;
}
input[name=submit]{
	width: 60px;
	color: white;
	background-color: #0095ff;
	font-weight: bold;
	border:0px solid;
}